[Unit]
Description=Jibri Ephemeral Container
Requires=lxc.service
After=lxc.service

[Service]
User=root
Group=root
ExecStart=/usr/local/sbin/jibri-ephemeral-start
ExecStop=/usr/local/sbin/jibri-ephemeral-stop
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
